@media screen and (max-width:320px){
    body{
        text-align: center;
        align-items: center;
        .container-h1{
            height: 110px;
        }
        .tarjetas-link{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
   
}